.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.page-header {
  color: lightskyblue;
  text-align: center;
  margin-left: 3%;
  margin-top: 1%;
  text-shadow: 2px 2px 3px #dfdfe2;
  font-weight: bold;
}

.ml-header{
  color: lightskyblue;
  text-shadow: 2px 2px 3px #dfdfe2;
  margin-left: 2.25%;
  font-weight: bold;

}
.pso-header{
  color: lightskyblue;
  text-shadow: 2px 2px 3px #dfdfe2;
  font-weight: bold;
}
.disp_extrema{
  text-shadow: 2px 2px 3px #dfdfe2;
  text-align: center;
  justify-content: space-evenly;
  width: 90%;
  margin-right: 20%;
  float: center;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  position: relative;
  padding-bottom: 3%;
}

.shadow {
  margin-top: 10%;
  position:fixed;
  bottom: -10%;
  width: 100%;
  height: 0.5%;
}


.background-Image {
  background-image:
    url("./assests/images/hbku.png");
  background-size: auto;
  height: 100vh;
  background-repeat: round;

}

.welcome_video {
  max-width: 100%;
  min-width: 100%;
}

.infoicon {
  max-width: 25%;
  max-height: 25%;
  padding-left: 0.5%;
}
.pso-infoicon{  max-width: 8%;
  max-height: 8%;
  padding-left: 2.5%;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: lightskyblue;
  width: 100%;
  padding: 20px;
}

.container-fluid {
  background-color: rgb(193, 226, 246);
}

.amtlogo {
  width: 16%;
  height: auto;
  margin-top: 20px;
  margin-left: 20px;
}
.qeerilogo {
  position: absolute;
  width: 20%;
  height: auto;
  top: 0;
  right: 0;
  margin-top: 20px;
  margin-right: 20px;
}

.training_content {
  padding: 2% 0 0 20%;
  align-items: center;
  justify-content: center;
}

.about-headings {
  color: lightskyblue;
  margin-left: 3%;
  margin-top: 1%;
  text-shadow: 2px 2px 3px #ebebf9;
  font-weight: bold;
}

.about-headings-train {
  color: lightskyblue;
  margin-left: 2%;
  margin-top: 1%;
  text-shadow: 2px 2px 3px #ebebf9;
  font-weight: bold;
}

.about-paragraph {
  margin-top: 10px;
  margin-left: 3%;
  margin-right: 3%;
  text-align: justify;
  text-indent: 1%;
  margin-bottom: 20px;
}

.training_instructions {
  text-align: left;
  margin-left: 40px;
  margin-top: 2%;
  align-items: left;
  justify-content: left;
}

.range_sliders {
  margin-left: 40px;
  margin-top: 2%;
  display: grid;
  grid-gap: 15px;
}

.training_content {
  padding: 2% 0 0 20%;
  align-items: center;
  justify-content: center;
}

.shufflecheckbox {
  padding-right: 2%;
}

.upload button {
  margin-left: 40px;
}


.left {
  width: 20%;
  padding: 2% 0 0 2%;
  float:left;
  color: #ff0000;
  line-height: 12pt;
}

.pso-left{
  width: 20%;
  padding: 5% 0 0 2%;
  float: left;
  color: #ff0000;
  line-height: 12pt;

}

.file_upload {
  margin-left: 40px;
}

.corrbtn {
  padding: 1% 0 0 40px;

}

.boundriesbtn{
  padding: 1% 0 0 0;
}

.popup-height {
  height: 500px;
}
.slidercontainer{
  margin-top: 2%;
}

.features_checkbox {
  margin-left: 42px;
}

.training_status {
  margin-top: 2%;
  padding: 0 0 0 40px;
  font-weight: bold;
  font-style: italic;
  font-size: large;
}

.Extreme-contents{
  margin-left: 3%;
  margin-top: 1%;
  text-shadow: 2px 2px 3px #dfdfe2;
  text-align: center;
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  grid-gap: 4px;
  float: left;
  padding: 2% 0 0 10%;
  
}

.pso-parameters{
  text-align: left;
  justify-items: left;
  font-weight: bold;
}

.button-link {
  margin-left: 40px;
  margin-top: 20px;
}

.disp_results {
  text-align: center;
  font-weight: bold;
}

.smoothfunctions {
  margin-top: 40px;
  margin-bottom: 40px;
}

.training_results {
  font-weight: bold;
  font-style: italic;
  font-size: large;
}

.prediction_sliders {

  margin-right: 10px;
  margin-left: 20px;
  margin-top: 20px;
  display: list-item;
}

.prediction-fields {
  text-align: center;
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  grid-gap: 4px;
  float: left;
  padding: 2% 0 0 10%;
}

.prediction-update-button {
  margin-top: 8%;
  font-weight: bold;
  font-style: italic;
  font-size: large;
}

.container-fluid {
  margin-left: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Prediction {
  text-align: center;
}